In [ ]:
#dict

# dict = {key1:value1, key2:value2......}
#value are mutable
#key r immutable

In [1]:
d = {"nari":"nar@gmail.com", "ask":"ask@gmail.com"}

In [2]:
d

{'nari': 'nar@gmail.com', 'ask': 'ask@gmail.com'}

In [3]:
#keys are unique
d1 = {'k':1, 'j':4, 'k':5}

In [4]:
d1

{'k': 5, 'j': 4}

In [5]:
#dic are unorder
d1['k']

5

In [6]:
d1['m'] = 7

In [11]:
d1

{'k': 5, 'j': 4, 'm': 7}

In [12]:
#sets

# set are the collection of unique database
s2 = {1, 2, 3, 4, 4}

In [13]:
s2

{1, 2, 3, 4}

In [14]:
s = set("nari")
s

{'a', 'i', 'n', 'r'}

In [15]:
#it doesnt contain any duplicate values
#set is unordered
# set is mutable
s.add(8)

In [ ]:
#set